#General
#-------------------------------------------------------------------------------
node_modules/
.vscode
out

#OSX
#-------------------------------------------------------------------------------
.DS_STORE